<div class="titleBG">
  <h1>Edition of {{hero.name}} + {{hero.imprint}}</h1>
</div>

<section [ngClass]="hero.element" class="profileedit">
  <div  class="pimage">
    <img class="heroprofile"  [src]="hero.picture" alt="hero-image">
  </div>
  <form *ngIf="hero" (ngSubmit)="onSubmit(f)" #f="ngForm"> <!-- si il y a un hero defini, on créer le formulaire / on stocke les infos du form dans la var f-->

    <div *ngIf="quantity>1"> <!--bouton de fusion si multiple copies-->
      <p class="left">you have multiple copies of this hero!</p>
      <button class="boutonvalider" (click)="imprint()">Merge</button>
    </div>

    <div class="form-group">
        <label for="name">Nom</label>
        <input type="text" class="form-control" [(ngModel)]="hero.name" name="name" #name="ngModel"> <!--ce champ est associé au pokemon.name-->
        <div [hidden]="name.valid">
          le nom du pokémon doit faire entre 1 et 25 lettres
        </div>

        <label for="hp">HP</label>
        <input type="number" class="form-control" [placeholder]="hero.hp" required [(ngModel)]="hero.hp" name="hp" #hp="ngModel">

        <label for="cp">Attack</label>
        <input type="number" class="form-control" [placeholder]="hero.atk" required [(ngModel)]="hero.atk" name="atk" #cp="ngModel">

        <label for="type">Defence</label>
        <input type="number" class="form-control" [placeholder]="hero.def" required [(ngModel)]="hero.def" name="def" #type="ngModel">

        <label for="created">Speed</label>
        <input type="number" class="form-control" [placeholder]="hero.speed" required [(ngModel)]="hero.speed" name="speed" #type="ngModel">

    </div>

    <div>
      <button type="submit" class="boutonvalider" [disabled]="!f.form.valid">Valider</button>
    </div>

</form>

</section>

